.backgroundJoey {
    background-image: url(../../assets/images/joey2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
  }