.backgroundWork {
  background-image: url(../../assets/images/IMG_0838.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}

.jumbotron {
  background-color: transparent;
  height: 0px;
  padding: 0;
}

.dropdown {
  text-align: center;
  margin-top: 3rem;
}

.dropdown:active {
  border: none;
}

#dropdownMenuButton {
  background-color: transparent;
  font-size: 35px;
  font-family: 'Amatic SC', cursive, 'News Cycle', 'Arial Narrow Bold',
    sans-serif;
  font-weight: 700;
  color: white;
  padding-left: inherit;
  padding-right: inherit;
}

.dropdown-item {
  font-size: 30px;
  font-family: 'Amatic SC', cursive, 'News Cycle', 'Arial Narrow Bold',
    sans-serif;
  font-weight: 700;
  color: white;
}

.dropdown-menu.show {
  background-color: transparent;
  border: none;
  text-align: center;
  display: contents;
}

a.dropdown-item:hover {
  background-color: transparent;
  color: white;
}

.btn:focus,
.btn.focus,
.btn:active {
  outline: none;
  box-shadow: none;
}
